<!-- NAV -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">From Grounded to Ground-Breaking</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/features">Features</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/about">About Shoes<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="/contact">Contact Us!</a>
      </li>
    </ul>
  </div>
</nav>
<!-- END OF NAV -->
<!-- SCROLL -->
<div id="list-example" class="list-group">
  <a class="list-group-item list-group-item-action" href="#list-item-1">Shoe-Care</a>
  <a class="list-group-item list-group-item-action" href="#list-item-2">Wear/Worn</a>
  <a class="list-group-item list-group-item-action" href="#list-item-3">Oxfords vs Derbies</a>
  <a class="list-group-item list-group-item-action" href="#list-item-4">Night-Out</a>
</div>
<div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
  <h4 id="list-item-1">Shoe-Care</h4>
  <p>Spot Clean: Knock the soles together to dislodge dirt and use a damp cloth to wipe away superficial marks. For the rubber soles, use a damp Mr Clean Magic Eraser.</p>
  <p>Deep Clean: Apply a few drops of Jason Markk Premium Shoe Cleaner to a wet shoe brush, shake off and then scrub gently all over to create a foam. Use a toothbrush for hard-to-get-to places. Wipe off with a towel and repeat all over.</p>
  <p>Re-lace: Fresh laces instantly lift the appearance of your sneakers(or other shoes). Remove the laces and either replace them with new, white ones or soak the soiled ones in washing detergent and then place in a garment bag and put in with a hot white wash.</p>
  <p>Protect them: After you have allowed the newly cleaned shoes to dry naturally (never put them near direct heat), lay down a towel and spray with a stain and water repellent.</p>
  <p>Store them: Lay tumble dryer fabric sheets inside the shoes to help draw out moisture and deodorise them. Space permitting, the best way to keep your sneakers box fresh is to store them in their original box.</p>
  <p>(softer and fragile material)They need time to dry on shoe trees after each wear if they are to maintain their shape; this is why they shouldn't be worn on consecutive days. They also need to be kept well polished, as this feeds the leather, which keeps the water out and means they stay looking good. If all this seems like an expensive hassle, remember that good leather shoes will last a decade if well maintained, so it is worth the effort.</p>
  <h4 id="list-item-2">Wear/Worn</h4>
  <p>A leather sole is the proper option for well-made dress shoes. Not only sleeker than a rubber sole, they are easier to replace, so your cobbler will thank you. However, do remember that leather is porous and certainly not your friend in extremely wet weather. If you do live in inclement climes (the entire population of the UK, listen up), there is no shame in investing in a more resilient Dainite sole for a pair (or two) of your smart shoes. Invented in 1894, it?s a technique used by traditional brands such as Church?s, Cheaney and Crockett & Jones - and is the sophisticated route to rubber.</p>
  <h4 id="list-item-3">Oxfords vs Derbies</h4>
  <p>Countless men - even those who profess to be style aficionados - cannot articulate the difference between Oxfords and Derbies. Given that wearing an inappropriate shoe could see you commit a range of social and style faux pas - it's something well worth knowing (even if it's just for a conversation in the pub). Quite simply, if you can slide a finger up behind the bottom of your lacing, you're wearing Derbies. On more formal Oxfords, the lacing is "closed." The facing (where the eyelets are located) is sewn under the vamp (the front section of the shoe?s upper), giving it a sleeker appearance.</p>
  <h4 id="list-item-4">Night-Out</h4>
  <p>Ex consequat commodo adipisicing exercitation aute excepteur occaecat ullamco duis aliqua id magna ullamco eu. Do aute ipsum ipsum ullamco cillum consectetur ut et aute consectetur labore. Fugiat laborum incididunt tempor eu consequat enim dolore proident. Qui laborum do non excepteur nulla magna eiusmod consectetur in. Aliqua et aliqua officia quis et incididunt voluptate non anim reprehenderit adipisicing dolore ut consequatEx consequat commodo adipisicing exercitation aute excepteur occaecat ullamco duis aliqua id magna ullamco eu. Do aute ipsum ipsum ullamco cillum consectetur ut et aute consectetur labore. Fugiat laborum incididunt tempor eu consequat enim dolore proident. Qui laborum do non excepteur nulla magna eiusmod consectetur in. Aliqua et aliqua officia quis et incididunt voluptate non anim reprehenderit adipisicing dolore ut consequat</p>
</div>

<!-- END OF SCROLL