<!-- NAV -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">From Grounded to Ground-Breaking</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/features">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About Shoes</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link disabled" href="/contact">Contact Us!<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<!-- END OF NAV -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Cheers <%= @first_name %> !!</h1>
    <p class="lead">The subject matter:" <%= @subject %> ", and message was recieved! A member will contact you shrotly! Now get spending!!!!</p>
  </div>
</div>




