<!-- NAV  -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">G2G</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/features">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="/contact">Contact Us!</a>
      </li>
    </ul>
  </div>
</nav>
<!-- END OF NAV -->
<!-- HEADER -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">From Grounded to Ground-Breaking</h1>
    <p class="lead">...and then there are those with no vision of their own. Thieves of fashion who will steal the shirt off your back. But always remember, appearances can be deceiving. But whatever you wear, always dress to kill...</p>
  </div>
</div>
<!-- END OF HEADER -->
<!-- <img src="images/valentino.jpg" id="hpf"> -->

<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="images/huston.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">CHRISTIAN LOUBOUTIN</h5>
      <p class="card-text">Name: Huston. Price: $1,295. Equip your closet for this season's share of unforgettable nights with "Huston". Built with a 40mm heel, this sleek boot in caress sequins alternates from black to gold (and somewhere in-between) with a gentle graze of the hand..</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="images/valentino.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">VALENTINO</h5>
      <p class="card-text">NAME: COORDINATES GROSGRAIN-TRIMMED LEATHER COMBAT BOOTS. Price: $1,145 Made from burgundy satin-finish leather, they're trimmed with crimson grosgrain, printed with the coordinates of the brand's Roman headquarters and set on rubber lug soles.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="images/roller_boat.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">CHRISTIAN LOUBOUTIN</h5>
      <p class="card-text">Name: Roller-Boat. Price: $1,195. Perfect your casual looks this season with "Roller-Boat Flat". Combining luxury with leisure, this version in sleek black leather and spikes is finished with a signature Louboutin red rubber sole</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="images/george_cleverley_oxfords.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">GEORGE CLEVERLEY</h5>
      <p class="card-text">NAME: NAKAGAWA BURNISHED-LEATHER OXFORD BROGUES. Price: $1,425. Description: Designed exclusively for MR PORTER. To ensure flawless quality and fit, George Cleverley's footwear is handcrafted by specialist shoemakers. These 'Nakagawa' Oxford brogues are constructed from smooth calf hide that's polished to a high shine and burnished for a handsome marbled finish. The robust soles will see you through years of wear, while the accompanying lasted trees ensure they'll retain their shape when not in use. </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="images/amiri.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">AMIRI</h5>
      <p class="card-text">Name:Skinny Stack Ruched Suede Boots. Price: $990. Description: The black suede used to craft the uppers of AMIRI's boots is purposefully ruched, in line with the brand's louche, laid-back aesthetic. This Italian-made pair is designed to slip on and off comfortably and has smooth leather interiors, as well as chunky side zips.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="images/acne_studio.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">ACNE STUDIOS</h5>
      <p class="card-text">NAME: Julian Suede Jodhpur Boots. Price: $700. Description: Acne Studios' 'Julian' Jodhpur boots are made from tan suede backed in leather that grows increasingly supple with wear and moulds to the shape of your feet. The crepe rubber soles offer exceptional traction, even on slick pavements. Try them with a denim jacket and slim-leg jeans.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="images/berluti.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">BERLUTI</h5>
      <p class="card-text">NAME: POLISHED-LEATHER DERBY SHOES. Price: $2,000. Description: Berluti's emblematic Venezia leather is the definition of luxury. Detailed with subdued broguing, these Derbies have been made in Italy using a single piece of the select hide. The rich patina results from the label's famed hand-polishing technique which will only wear better with time. Shown here with a Kingsman suit, shirt and tie, Drake's pocket square and Berluti pouch.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="images/Officine_derbies.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">OFFICINE CREATIVE</h5>
      <p class="card-text">NAME: CORNELL SUEDE DERBY SHOES. Price: $560. Description: It's no secret that Officine Creative's shoes are exceptionally comfortable - each pair is made in Italy by skilled craftsmen who use traditional methods and top-quality materials. These 'Cornell' Derbies are cut from plush navy suede and have smooth leather linings. Invest in this protective Repel Sprayto create a barrier against dirt and water. </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="images/common_project.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">COMMON PROJECT</h5>
      <p class="card-text">NAME: SUEDE BOOTS. Price: $460. Description: They've been made in Italy from smooth sand suede, have supple leather linings and are stamped with the label's signature gold serial numbers. </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>