html, body {
/*	background: #003973;  
	background: -webkit-linear-gradient(to left, #E5E5BE, #003973); 
	background: linear-gradient(to left, #E5E5BE, #003973); */
	background: #1F1C2C;  
  background: -webkit-linear-gradient(to left, #928DAB, #1F1C2C); 
  background: linear-gradient(to left, #928DAB, #1F1C2C); 
	/*background: #E6DADA;
  background: -webkit-linear-gradient(to bottom, #274046, #E6DADA);
  background: linear-gradient(to bottom, #274046, #E6DADA);*/

	font-family: "Times New Roman", Georgia, Serif;
	color: #FFF5EE;
}
/*home page*/
.card {
	background-color: inherit;
}
.card-text {
	opacity: 0.4;
	color: #FFF5EE;
	font-weight: 750;
}
/*home page*/
#big_image {
	height: 29%;
	width: 35%;
}

/*home page*/
.jumbotron {
	font-family: "Times New Roman", Georgia, Serif;
	background-color: inherit;
	color: #FFF5EE;
}
/*about page*/
#about-list {
	opacity: 0.3;
	overflow-y: scroll;
	background-color: inherit;
}
/*features page*/
.list-unstyled {
	background-color: inherit;
}
/*freatures page*/
h5 {
	font-weight: 750;
	letter-spacing: 3px;
	text-decoration: underline;
}

.imgE {
	transition: all 1s ease;
	cursor: pointer;
}
